.cart-container {
  border-left: 1px solid #F4F4F4;
  padding-left: 25px;
}

.cart {
  width: 55px;
  height: 55px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #000;
}

.shopping-icon {
  width: 24px;
  height: 24px;
}

.item-count {
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 12px;
  font-weight: bold;
  bottom: 12px;
  background: #FFF;
  width: 24px;
  height: 24px;
}