.hero-section {
  background: #F7F8FB
}

.title-sm {
  font-size: 23px;
  letter-spacing: 1px;
}

.title-lg {
  font: {
    size: 60px;
    weight: 700;
  }
  letter-spacing: 1px;
  line-height: 74px;
  white-space: pre-line;
}

.shop-button {
  background: #000;
  color: #FFF;
  border-radius: 6px;
  padding: 14px 37px;
  font-size: 15px;
  letter-spacing: 1px;
  &:hover {
    color: #FFF;
    text-decoration: none;
  }
}

@media(max-width: 1630px) {
  .img-left {
    margin-left: 0 !important;
    justify-content: start;
    img {
      height: 500px;
    }
  }
  .img-right {
    margin-left: 0 !important;
    padding-left: 0 !important;
    img {
      margin-right: 0 !important;
      padding-left: 0 !important;
      height: 500px;
    }
  }
  .title-sm {
    font-size: 19px;
  }
  
  .title-lg {
    font: {
      size: 50px;
      weight: 700;
    }
    line-height: 66px;
  }
}


@media(max-width: 1630px) {
  .img-left {
    img {
      height: 450px;
    }
  }
  .img-right {
    img {
      height: 450px;
    }
  }
  .title-sm {
    font-size: 17px;
  }
  
  .title-lg {
    font: {
      size: 46px;
      weight: 700;
    }
    line-height: 60px;
  }
}

@media(max-width: 1265px) {
  .img-left {
    margin-left: 35px !important;
    img {
      height: 400px;
    }
  }
  .img-right {
    margin-right: 35px !important;
    img {
      height: 400px;
    }
  }
  .title-sm {
    font-size: 15px;
  }
  
  .title-lg {
    font: {
      size: 42px;
      weight: 700;
    }
    line-height: 56px;
  }
}

@media(max-width: 1040px) {
  .img-left {
    img {
      height: 350px;
    }
  }
  .img-right {
    img {
      height: 350px;
    }
  }
  .title-sm {
    font-size: 15px;
  }
  
  .title-lg {
    font: {
      size: 34px;
      weight: 700;
    }
    line-height: 47px;
  }
}


@media(max-width: 840px) {
  .hero-section {
    .container {
      justify-content: flex-start !important;
    }
  }
  
  .section-info {
    align-items: flex-start !important;
    margin-left: 1rem;
  }

  .img-left {
    max-width: unset;
    flex: unset;
    width: unset;
    margin-left: -2rem !important;
    justify-content: flex-start !important;
    img {
      height: 370px;
      margin-left: 0 !important;
    }
  }
  .img-right {
    display: none;
  }
  .title-sm {
    font-size: 15px;
    text-align: left !important;
  }
  
  .title-lg {
    text-align: left !important;
    font: {
      size: 33px;
      weight: 700;
    }
    line-height: 44px;
  }
}


@media(max-width: 575.98px) {
  .hero-section .container {
    justify-content: center !important;
    padding: 3rem 0;
  }
  .section-info {
    margin-left: 0;
  }
  .img-left {
    display: none !important;
  }
  .img-right {
    display: none;
  }
  .section-info {
    align-items: center !important;
  }

  .title-sm {
    font-size: 15px;
    text-align: center !important;
  }
  
  .title-lg {
    text-align: center !important;
    font: {
      size: 33px;
      weight: 700;
    }
    line-height: 44px;
  }
}