.hero-section {
  background: #F7F8FB
}

.title-sm {
  font-size: 23px;
  letter-spacing: 1px;
}

.title-lg {
  font: {
    size: 60px;
    weight: 700;
  }
  letter-spacing: 1px;
  line-height: 74px;
  white-space: pre-line;
}

.shop-button {
  background: #000;
  color: #FFF;
  border-radius: 6px;
  padding: 14px 37px;
  font-size: 15px;
  letter-spacing: 1px;
  &:hover {
    color: #FFF;
    text-decoration: none;
  }
}