.cart-item-container {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}

.cart-item-image {
  width: 30%;
}

.item-details-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
}