.collection-preview-container {
  margin-bottom: 30px;
}

.title-container {
  font: {
    size: 24px;
    weight: 500;
  }
  margin-bottom: 25px;
  cursor: pointer;

  &:hover {
    color: grey;
  }
}

.preview-container {
  display: flex;
  justify-content: space-between;
}